.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px rgb(22, 21, 21);
    margin-bottom: 1px;
    background: rgb(244, 213, 212);
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 45px;
}
.nav-logo p{
    color: #000000;
    font-size: 28px;
    font-weight: 600;
}
.nav-profile{
    width: 75px;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    } 
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}
.nav-logo .logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
  }
  
